xml/src/main/xsd/geojsf/geojsf.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://geojsf.sf.net/geojsf"
    xmlns:geojsf="http://geojsf.sf.net/geojsf"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="coordinate">
        <xsd:complexType>
            <xsd:attribute name="lat" type="xsd:double"/>
            <xsd:attribute name="lon" type="xsd:double"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
